#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.submit {
	margin-top: 1em;
	color: #61dafbaa;
}

.submit:hover {
	cursor: pointer;
}

.submit button {
	background-color: blueviolet;
	border: 1;
	font-size: 2rem;
	margin-right: 1em;
}

.budget {
	flex-direction: column;
}

.title {
	font-size: 8rem;
}

.budget input {
	width: 40rem;
	height: 8rem;
	font-size: 5rem;
	text-align: center;
}

.value {
	font-size: 5rem;
}
